/* Light Mode */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #ffe6f2;
    color: #ff66b2;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --positive-color: #2c9248;
    --negative-color: #ff0000;
}

.positive {
    color: var(--positive-color);
    font-weight: bold;
}

.negative {
    color: var(--negative-color);
    font-weight: bold;
}

.negative-pulse {
    animation: pulse-negative 2s infinite alternate;
}

@keyframes pulse-negative {
    0% {
        text-shadow: 0 0 3px var(--negative-color), 0 0 5px var(--negative-color), 0 0 7px var(--negative-color);
    }
    100% {
        text-shadow: 0 0 0px var(--negative-color), 0 0 0px var(--negative-color), 0 0 0px var(--negative-color);
    }
}

.positive-glow {
    animation: glow-positive 0.4s infinite alternate;
}

@keyframes glow-positive {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(255, 204, 230, 1);
    box-shadow: 0 4px 15px rgba(255, 182, 193, 0.8);
    border-radius: 0px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ff99cc;
    padding: 12px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

th {
    background-color: #ff99cc;
    color: white;
    font-size: 1.2em;
}

tr:nth-child(even) {
    background-color: rgba(255, 230, 242, 1);
}

tr:hover {
    background-color: rgba(255, 179, 217, 0.6);
}

caption {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #ff33a6;
    text-shadow: 1px 1px 2px #ff66b2;
    cursor: pointer;
}

td:hover {
    transform: scale(1.1);
    background-color: rgba(255, 153, 204, 0);
    cursor: pointer;
}

/* Dark Mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #cfcfcf;
}

body.dark-mode table {
    background-color: #333333;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

body.dark-mode th {
    background-color: #444444;
    color: #fff;
}

body.dark-mode tr:nth-child(even) {
    background-color: #555555;
}

body.dark-mode tr:hover {
    background-color: #666666;
}

body.dark-mode .positive {
    color: #4caf50;
}

body.dark-mode .negative {
    color: #f44336;
}

body.dark-mode caption {
    color: #e91e63;
    text-shadow: 1px 1px 2px #d81b60;
}
